@media (max-width: 600px) {
    .text-wrapper-23,
    .text-wrapper-2,
    .text-wrapper-3,
    .text-wrapper-4,
    .overlap-group {
        flex-direction: column;
        align-items: center;
    }

    .text-wrapper-23,
    .text-wrapper-2,
    .text-wrapper-3,
    .text-wrapper-4 {
        margin-bottom: 10px;
    }
}

@font-face{
    font-family: "Michroma-Regular"; 
    src: url('fonts/Michroma-Regular.ttf') format("truetype");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: #ffffff;
    text-decoration: none;
}
.maket {
    background-color: #000000;
    max-width: 100%;
    min-height: 100vh;
}
/*header*/
.maket .header {
    position: sticky;
    z-index: 1;
    top:0;
    background: linear-gradient(rgb(151, 2, 2), rgb(12, 12, 12));
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 40px;
}
.maket .overlap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.maket .text-wrapper {
    margin-top: 40px;
    color: #ffffff;
    font-family: "Michroma-Regular", Helvetica;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0;
}

.maket .text-wrapper-2, .text-wrapper-3, .text-wrapper-4,.text-wrapper-23{
    color: #ffffff;
    font-size: 20px;
    white-space: nowrap;
    font-family: "Michroma-Regular", Helvetica;
    font-weight: 400; 
    padding: 10px;
    border-radius: 230px;
    border: 3px solid;
    border-color: #e0ffeb83;
}
.maket .text-wrapper-23{
    margin-right: 50px;
    padding: 10px 30px;
}
.maket .text-wrapper-3 {
    margin-left: 50px;
}
.maket .text-wrapper-4 {
    margin-left: 50px;
    padding: 10px 30px;
}
.maket a:hover{
    text-decoration: underline;
}

/*content*/
.maket .overlap-group {
    width: 100%;
    min-height: 100%;
    padding-bottom: 30px; 
}

.maket .text-wrapper-5 {
    padding: 40px 0 20px 40px;
    color: #c4ffe2cc;
    font-size: 36px;
    line-height: 100px;
    font-family: "Michroma-Regular", Helvetica;
    font-weight: 300;
    letter-spacing: 0;
}
.maket .overlap-2 {
    min-width: 100%;
    min-height: 240px;
    border: 3px solid;
    border-color: #628fb9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin: 0 0 20px 0;
}

.maket .overlap-3 {
    width: 50%;
    height: 240px;
    border-left: 3px solid;
    border-color: #628fb9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.maket .element {
    width: 70%;
    color: #ffffff;
    margin-left: 120px;
    font-size: 30px;
    line-height: 64px;
    font-family: "Michroma-Regular", Helvetica;
    font-weight: 300;
    letter-spacing: 0;
}
.text-wrapper-6, .text-wrapper-7, .text-wrapper-8, .text-wrapper-9{
    width: 200px;
    padding: 10px 20px;
    border-radius: 230px;
    border: 3px solid;
    border-color: #e0ffeb;
    color: #ffffff;
    font-size: 24px;
    font-family: "Michroma-Regular", Helvetica;
    font-weight: 300;
    letter-spacing: 0;
    margin: 0 0 10px 0;
    text-align: center;
} 
.text-wrapper-10{
    width: 300px;
    padding: 20px 30px;
    color: #ffffff;
    font-size: 14px;
    font-family: "Michroma-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0 0 10px 0;
    text-align: left;
}
.footer{
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #e0ffeb;
    padding: 30px 0;
    font-family: "Michroma-Regular", Helvetica;
}